$blue: #3cbcfc;

body {
	min-height: 1000px;
	font-family: 'Source Sans Pro', sans-serif;
}

a {
	color: $blue;

	&:hover,
	&:focus {
		color: $blue;
		text-decoration: none;
		border-bottom: 1px solid $blue;
	}
}

header {
	height: 65px;
	width: 100%;
	position: fixed;
	transition: all .25s;
	background: #3cbcfc;
	border-bottom: 1px solid #ccc;
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
	line-height: 64px;
	overflow: hidden;
	z-index: 10;

	&.small {
		height: 33px;
		line-height: 32px;
	}

	#mainlogo {
		transition: inherit;
		background: url(../img/logo-64.png) no-repeat top left;
		background-size: 100%;
		width: 64px;
		height: 64px;
		float: left;
		margin: 0 0 0 10px;
	}

	&.small #mainlogo {
		width: 32px;
		height: 32px;
	}

	nav {
		transition: inherit;
		background: #fff;
		float: left;
		margin-left: 10px;
		width: calc(100% - 84px);
		height: 100%;
		line-height: 64px;
		position: relative;
		font-size: 14px;

		li {
			display: inline;
			float: left;
			position: relative;
			margin: 0 10px;

			&:after {
				content: '\2022';
				position: absolute;
				top: 0;
				right: -12px;
			}

			&:last-child:after {
				display: none;
			}
		}

		#backtotop {
			display: none;
		}
	}

	&.small nav {
		width: calc(100% - 52px);
		line-height: 32px;

		#backtotop {
			display: block;
		}
	}
}

main.container {
	margin: 70px 0 40px;
	float: left;
	position: relative;

	section {
		border-bottom: 1px solid #ccc;
		float: left;
		width: 100%;
		padding-bottom: 1em;

		span.language {
			font-size: 14px;
			float: right;
		}

		.dates {
			span {
				float: left;
				clear: both;
			}
		}
	}
}

footer {
	height: 32px;
	width: 100%;
	position: fixed;
	bottom: 0;
	transition: all .25s;
	opacity: 0;
	border-top: 1px solid #ccc;
	box-shadow: 0 0 5px rgba(0,0,0,0.2);

	&.show {
		opacity: 1;
	}
}